<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Day 1</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/days.css">
</head>
<body>
<header>
    <h1>Advent of Code 2015</h1>
</header>

<main>
    <h2>Day 1</h2>

    <section class="puzzle">
        <h3>Puzzle 1</h3>
        <p> Sempra diem anno dei asdfa dkf</p>
    </section>

    <section class="puzzle">
        <h3>Puzzle 2</h3>
        <p></p>
    </section>
</main>

<!-- nav bar -->
<nav>
    <a href=""></a>
    <a href="index.html">Back to index</a>
    <a href="day2.html">Day 2 >>></a>
</nav>
</body>
</html>