h2 {
    text-align: center;
    color: #b22222; /* a deep, Christmas red */
    padding: 10px;
}

.puzzle {
    margin: 20px auto;
    padding: 10px;
    background-color: #ffffff;
    border: 2px dashed #b22222; /* make the border a dashed line for a little fun and in the same Christmas red */
    border-radius: 5px;
    width: 80%;
}

.puzzle h3 {
    color: #6b9062; /* again using the evergreen color */
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.input {
    margin-bottom: 20px;
}

label {
    color: #b22222; /* Christmas red for the input header */
    font-weight: bold;
    padding: 5px;
    display: block;
}

textarea {
    box-sizing: border-box;
    width: 100%;
    min-height: 100px;
    padding: 10px;

    border: 2px solid #6b9062;
    color: #6b9062;
    resize: vertical;
    border-radius: 5px;
}

button {
    background-color: #b22222; /* Christmas red for the button */
    color: #ffffff; /* white color for the text on the button */
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition-duration: 0.3s;
}

button:disabled,
button:disabled:hover {
    background-color: #ccc; /* Gray */
    color: #888;
    cursor: not-allowed;
}

button:hover {
    background-color: #f8b229; /* gold color for button hover */
}

.error-text {
    color: orange;
    font-weight: bold;
    padding: 5px;
    min-height: 1.1em;
}

.answer p {
    color: #6b9062; /* evergreen color for the answer text */
    min-height: 1.1em;
}

/* Navigation bar */
nav {
    display: flex;
    justify-content: space-between;
    background-color: #b22222; /* nav bar in the Christmas red */
    color: #ffffff;
    padding: 10px 50px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: #f8b229; /* when hovering over a link, it changes to a warm gold color */
}

/* disabled text-area */
[disabled] {
    background-color: #ccc;
    color: #888;
    cursor: not-allowed;
}
