@font-face {
    font-family: 'SantaSleighFull';
    src: url('../fonts/SantasSleighFull.ttf') format('truetype');
}

body {
    font-family: SantaSleighFull, Arial, sans-serif;
    font-size: 1.4em;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

header {
    background-color: #6b9062; /* a muted, evergreen color */
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}